
laravel-project/vendor/
laravel-project/node_modules/
laravel-project/npm-debug.log
laravel-project/yarn-error.log

# Laravel 4 specific
laravel-project/bootstrap/compiled.php
laravel-project/app/storage/

# Laravel 5 & Lumen specific
laravel-project/public/storage
laravel-project/public/hot

# Laravel 5 & Lumen specific with changed public path
laravel-project/public_html/storage
laravel-project/public_html/hot

laravel-project/storage/*.key
laravel-project/.env
laravel-project/Homestead.yaml
laravel-project/Homestead.json
laravel-project/.vagrant
laravel-project/.phpunit.result.cache
